@page
@model FrontEnd.Pages.MainLoggedInModel
@{
}


@section header{
    <partial name="_HeaderItems" />
}

@{ 
    var firstName = Request.Cookies["FirstNameCookie"];
}}

<div class="text-center">
    <h1 class="display-4">Welcome @firstName</h1>
</div>



