<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-page="/Trips/BrowseTrips">Main</a>
</li>

<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-page="/Trips/BrowseTrips">Browse Trips</a>
</li>

<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-page="/Trips/ManageTrips">Your Trips</a>
</li>

<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-page="/Account/ManageAccount">Account</a>
</li>

<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-page="/Notifications">Notifications</a>
</li>

<li class="nav-item">
  <a class="nav-link text-dark" asp-area="" asp-page="/Logout" style="margin-left: 100px">Log out</a>
</li>
