<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-page="/ManageTrips">Main</a>
</li>

<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
</li>

<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-page="/ManageTrips">Trips</a>
</li>

<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-page="/ManageAccount">Your account</a>
</li>

<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-page="/Notifications">Notifications</a>
</li>

<li class="nav-item">
    <form method="post" asp-page-handler="Logout">
        <button type="submit" class="nav-link text-dark" style="margin-left: 100px">Log out</button>
    </form>
</li>

