@page
@model IndexModel



@{
    ViewData["Title"] = "MainPage";


}


<!--i don't understand shit what is happening in here-->

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>

        <input />
        
        





    </p>
</div>
