@page
@model IndexModel
@using Entities
@using System.Net.Http
@using Newtonsoft.Json


@{
    ViewData["Title"] = "MainPage";


}


<div align="center">
    <h1>Log in</h1>

    <font>Username: </font> <input /> <br />
    <font>Password: </font> <input /> <br />

    <form method="get">
    <button type="submit" asp-page="./MainLoggedIn">Log in</button>
    </form>
</div>