@page
@model FrontEnd.Pages.MainLoggedInModel
@{
}


<div class="text-center">
    <h1 class="display-4">Logged in</h1>
</div>

<form method="get">
    <button type="submit" asp-page="./ManageTrips">Manage trips</button>
</form>


