@page
@model FrontEnd.Pages.MainLoggedInModel
@{
}


@section header{

    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/ManageTrips">Privacy</a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/ManageAccount">Privacy</a>
    </li>

    <li class="nav-item">
        <form method="post" asp-page-handler="Logout">
            <button type="submit" class="nav-link text-dark">Privacy</button>
        </form>
    </li>

}

<div class="text-center">
    <h1 class="display-4">Logged in</h1>
</div>



