@page
@model FrontEnd.Pages.ManageTripsModel
@{
    ViewData["Title"] = "ManageTrips";
}

<h1 align="center">ManageTrips</h1>


<div>
    <div align="center">
    <label for="Id" id="id" >Id</label>
    <input type="text" name="Id"  value="@Model.trip.id" />
    <label for="Title" >Title:</label>
    <input type="text" name="Title"  value="@Model.trip.title" />
    <label for="Date" >Email:</label>
    <input type="text" name="Date" value="@Model.trip.date" />
        </div>
    <form method="post" class="text-center" >
        <button asp-page-handler="trip" class="mb-3">Get trip</button>
    </form>
    <form method="post" class="text-center">
        <button asp-page-handler="send">Send Trip</button>
    </form>

</div>

<p></p>






<form method="get">
    <button type="submit" asp-page="./MainLoggedIn">Go to main</button>
</form>

