@page
@model FrontEnd.Pages.ManageAccountModel
@{
    ViewData["Title"] = "ManageAccount";
}

<div class="text-center">
    <h1 class="display-4">Manage Account</h1>
</div>

<form method="get">
    <button type="submit" asp-page="./MainLoggedIn">Go Back!</button>
</form>

