@page
@model FrontEnd.ManageTripsModel
@{
    ViewData["Title"] = "Your Trips";
}

@section header
{
    <partial name="Shared/_HeaderItems" />
}

<div class="container-fluid narrow">
    <div class="row">
        <div class="col">
            <partial name="Partials/CreateTripModal" />
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h2>ManageTrips</h2>
        </div>
    </div>
    
    

    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Create Trip</button>
        </div>
    </div>

</div>