@page
@model FrontEnd.Pages.NotificationsModel

@using FrontEnd.Pages.Entities
@{
    ViewData["Title"] = "Notifications";
}

@section header{
    <partial name="_HeaderItems" />
}

<h1>Notifications</h1>



<ul>
    @if (Model.Notifications.Count > 0)
        @foreach (Notification n in Model.Notifications)
        {
            <li>@n.Message</li>
        }

</ul>


