@page
@model FrontEnd.Pages.RegisterModel
@{
    ViewData["Title"] = "Register";
}

@section header{

}
<!-- <link rel="stylesheet" href="~/css/popup.css" /> -->

<div class="container-fluid" style="max-width: 500px">
    <div class="row">
        <div class="col">
            <h1>Create account</h1>

            <form method="post" asp-page-handler="register">
                <div class="form-group">
                    <label>First Name: </label>
                    <input class="form-control" type="text" placeholder="First name" name="firstName" required pattern="^[\w ]{2,}$" oninvalid="setCustomValidity('First name may only contain letters')" oninput="setCustomValidity('')">
                </div>
                <div class="form-group">
                    <label>Last Name: </label>
                    <input class="form-control" type="text" placeholder="Last name" name="lastName" required pattern="^[\w ]{2,}$" oninvalid="setCustomValidity('Last name may only contain letters')" oninput="setCustomValidity('')">
                </div>
                <div class="form-group">
                    <label>E-mail:</label>
                    <input class="form-control" type="email" placeholder="Your e-mail" name="email" required oninvalid="setCustomValidity('Email must contain @@ sign')" oninput="setCustomValidity('')">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input class="form-control" type="password" id="password" placeholder="Password" name="password" required pattern="[a-zA-Z0-9]+" oninvalid="setCustomValidity('Password must contain letters and/or numbers only')" oninput="setCustomValidity('')">
                </div>
                <div class="form-group">
                    <label>Repeat password:</label>
                    <input class="form-control" type="password" id="repeatPassword" placeholder="Repeat password" name="repeatedPassword" required oninvalid="" oninput="validatePassword()">
                </div>
                <div class="form-group">
                    <label>Phone Number</label>
                    <input class="form-control" type="text" placeholder="Phone number" name="phone" required oninvalid="setCustomValidity('Type in Your phone number')" oninput="setCustomValidity('')">
                </div>
                <div class="form-group">
                    <label>Date of Birth:</label>
                    <input class="form-control" type="date" name="dateOfBirth" required oninvalid="setCustomValidity('Pick a date')">
                </div>

                <button href="#popup" type="submit" class="btn btn-primary">Register</button>
                <label asp-for="ErrorMessage"> </label>
            </form>
        </div>
    </div>
</div>

<script>

    var password = document.getElementById("password");
    var repeatPassword = document.getElementById("repeatPassword");

    function validatePassword() {
        if (password.value != repeatPassword.value) {
            repeatPassword.setCustomValidity("Passwords don't match");
        } else {
            repeatPassword.setCustomValidity('');
        }
    }

    password.onchange = validatePassword;
    repeatPassword.onkeyup = validatePassword;

</script>