@page
@model FrontEnd.Pages.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>Create account</h1>

<div class="register-container">

    <div>
        <label>Username: </label>
        <p>
            <span class="input">
                <input type="text" placeholder="Enter username">
                <span></span>
            </span>
        </p>

    </div>
    <div>
        <label>Password</label>
        <p>
            <span class="input">
                <input type="text" placeholder="Your password">
                <span></span>
            </span>
        </p>

    </div>
    <div>
        <label>Repeat password:</label>
        <p>
            <span class="input">
                <input type="text" placeholder="Repeated password">
                <span></span>
            </span>
        </p>

    </div>
    <div>
        <label>E-mail:</label>
        <p>
            <span class="input">
                <input type="text" placeholder="Your e-mail">
                <span></span>
            </span>
        </p>

    </div>



</div>
