@model string;

<div class="modal fade" id="reviewAccountModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateModalLabel">Update account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <div class="form-group">
                        <label>Post review for @Model</label>
                        <input type="text" name="reviewee" value="@Model" class="invisible" />
                    </div>

                    <div class="form-group">
                        <textarea name="content" placeholder="Write your review here..." class="form-control"></textarea>
                    </div>

                    <button asp-page-handler="Review" class="btn btn-info">Post Review</button>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>