/* Coolors Exported Palette - coolors.co/1b06a5-3a4ae0-736ced-78c0e0-f2f2fc */

/* HSL */
$color1: hsla(248%, 93%, 34%, 1);
$color2: hsla(234%, 73%, 55%, 1);
$color3: hsla(243%, 78%, 68%, 1);
$color4: hsla(198%, 63%, 67%, 1);
$color5: hsla(240%, 63%, 97%, 1);

/* RGB */
$color1: rgba(27, 6, 165, 1);
$color2: rgba(58, 74, 224, 1);
$color3: rgba(115, 108, 237, 1);
$color4: rgba(120, 192, 224, 1);
$color5: rgba(242, 242, 252, 1);