@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*
                      Colours chart - 

darkblue                                        #1b06a5
blue                                            #3a4ae0
lightviolet                                     #736ced
turquise                                        #78c0e0
light(almost white)                             #f2f2fc


*/




html, body{
  height: 100%;
}

body{
  
}

svg {
    display: block;
    font: 10.5em 'Montserrat';
    width: 1060px;
    height: 300px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: #1b06a5;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #736ced;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #78c0e0;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #3a4ae0;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #7BCAF1;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}